html * {
  font-family: "Comic Sans MS";
}

body {
  margin-left: 80px;
  padding: 5px 20px;
}

 h3, h4 {
  margin: 0px;
}

img {
  height: 300px;
  display: block;
}

.marvel {
  color: red;
  border-left: 3px solid red;
  padding-left: 15px;
}

.dc-comics {
  color: blue;
  border-left: 3px solid blue;
  padding-left: 15px;
}

button {
  margin: 10px 0;
}
